---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="flex h-80 justify-center items-center px-30 sm:px-50 py-30 sm:py-40">
    <h1 class="text-5xl cardo-bold font-bold">404</h1>
  </div>
</Layout>
