---
import CategoryCard from "../components/CategoryCard.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

const cardDetails = [
  {
    title: "The Art of Balancing Form and Function in Architecture",
    description:
      "The delicate dance between aesthetics and utility as we delve into the art of harmonizing form and function in contemporary architectural masterpieces.",
    image: "https://twentytwentyfourdemo.wordpress.com/wp-content/uploads/2023/11/0565b-tt4_post_1.jpg",
  },
  {
    title: "Impressive Buildings",
    description:
      "They inspire us to think beyond convention and remind us that buildings can become extraordinary works of art.",
    image: "https://twentytwentyfourdemo.wordpress.com/wp-content/uploads/2023/11/1ceb1-tt4_post_2.jpg?w=2048",
  },
  {
    title: "Exploring Innovative Materials Shaping the Future of Architecture",
    description:
      "The delicate dance between aesthetics and utility as we delve into the art of harmonizing form and function in contemporary architectural masterpieces.",
    image: "https://twentytwentyfourdemo.wordpress.com/wp-content/uploads/2023/11/b3f2c-tt4_post_3-scaled-1.jpg?w=2048",
  },
];
---

<Layout>
  <div class="py-20 bg-theme">
    <div class="px-4 sm:px-6 md:px-10 lg:px-28 py-10 max-w-screen-xl mx-auto">
      <h1 class="cardo-regular text-3xl sm:text-4xl md:text-5xl leading-snug">
        Category: <span class="cardo-regular-italic">Architecture</span>
      </h1>
    </div>

    <div class="px-4 sm:px-6 md:px-10 lg:px-28 max-w-screen-xl mx-auto">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 sm:gap-10">
        {
          cardDetails.map((card) => (
            <CategoryCard title={card.title} description={card.description} image={card.image} />
          ))
        }
      </div>
    </div>
  </div>
</Layout>
