---
import CallToAction from "../components/CallToAction.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
<div class="bg-theme py-28"> 
  <CallToAction />
</div>
</Layout>
