---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

---

<Layout>
    <section class="bg-theme py-20 px-4">
        <div class="max-w-6xl mx-auto bg-cta rounded-2xl p-10 text-center">
          <h2 class="text-lg md:text-xl text-theme mb-10">
            We’ve worked with some of the best companies.
          </h2>
      
          <div class="flex flex-wrap justify-center items-center gap-8 ">
            <img src="https://twentytwentyfourdemo.wordpress.com/wp-content/uploads/2023/11/17250-client-logo-1.png" alt="Sathay" class="h-10 md:h-14" />
            <img src="https://twentytwentyfourdemo.wordpress.com/wp-content/uploads/2023/11/ec31e-client-logo-2.png" class="h-10 md:h-14" />
            <img src="https://twentytwentyfourdemo.wordpress.com/wp-content/uploads/2023/11/14351-client-logo-3.png" alt="Archi Channel" class="h-10 md:h-14" />
            <img src="https://twentytwentyfourdemo.wordpress.com/wp-content/uploads/2023/11/cb85f-client-logo-4.png" alt="Dailyarch" class="h-10 md:h-14" />
            <img src="https://twentytwentyfourdemo.wordpress.com/wp-content/uploads/2023/11/5bec4-client-logo-5.png" alt="Arts & Crafts" class="h-10 md:h-14" />
          </div>
        </div>
      </section>
</Layout>

  