---
import HeroSection from '../components/HeroSection.astro';
import CardList from '../components/CardList.astro';
import FeaturesDetails from '../components/FeaturesDetails.astro';
import Layout from '../layouts/Layout.astro';
import Blog from '../components/Blog.astro';
import "../styles/global.css";
import Testimonial from '../components/Testimonial.astro';
import 'remixicon/fonts/remixicon.css'


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	 <HeroSection />
	 <CardList/>
	 <FeaturesDetails />
	 <div class="bg-cta text-theme text-center px-4 md:px-28 py-28">
		 <Testimonial/>
	 </div>
	 <Blog />
</Layout>
