---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>
<div class="bg-theme">
  <section class="justify-start pt-24 pb-12 md:py-32 px-6 md:px-8 max-w-3xl mx-auto">
    <h1
      class="text-center text-4xl md:text-6xl cardo-regular font-light mb-4 md:mb-6 leading-snug md:leading-tight"
    >
      What we do
    </h1>
    <p class="text-base md:text-lg mb-6 md:mb-8">
      In the realm of modern architecture, the delicate equilibrium between form
      and function stands as a testament to the artistry and practicality that
      define our built environments. As we forge ahead into a future where
      innovation and aesthetics intertwine, the pursuit of harmony between these
      two pillars remains paramount.
    </p>
    <p class="text-base md:text-lg mb-6 md:mb-8">
        Modern design is a canvas where creativity knows no bounds, yet it is
      anchored by the fundamental principle that every structure, every space,
      serves a purpose.
    </p>
    <p class="text-base md:text-lg mb-6 md:mb-8">
        The seamless integration of form and function requires a thoughtful
      interplay between aesthetics and utility. Its not merely about creating
      visually stunning facades; its about nurturing spaces that enhance lives,
      foster connections, and elevate human experiences.
    </p>
    <p class="text-base md:text-lg mb-6 md:mb-8">
        Architects and designers, akin to modern-day alchemists, weave their
      visions into the fabric of our cities. The sinuous curves of a bridge, the
      ethereal play of light in a gallery, or the ergonomic flow of a
      workspace—all embody the pursuit of equilibrium. The form is a vessel
      through which function is realized, and function provides the very
      framework that allows form to flourish.
    </p>
    <p class="text-base md:text-lg mb-6 md:mb-8">
        Consider the minimalist ethos—a prevailing trend that showcases how
      simplicity can become an exquisite expression of both form and function.
      Clean lines and uncluttered spaces not only dazzle the eye but also
      cultivate an environment of tranquility and focus. It is a symphony where
      design elements are thoughtfully curated to serve a purpose while evoking
      an emotional response.
    </p>
  </section>
</div>

</Layout>
