---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import PricingCard from "../components/PricingCard.astro";
import "../styles/global.css";
---

<Header />
<div class="text-center px-4 md:px-28 bg-[#f9f9f9] py-28">
  <h1 class="cardo-regular text-5xl mb-10">Our Services</h1>
  <p class="text-2xl mb-10">
    We offer flexible options, which you can adapt to the different needs of
    each project.
  </p>
  <PricingCard />
</div>
<Footer />
