---
import CategoryCard from "../components/CategoryCard.astro";
import SearchBar from "../components/SearchBar.astro";
import "../styles/global.css";

import { cardDetails } from "../data/cardDetails.js";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="bg-theme py-20 px-4 sm:px-6 md:px-10 lg:px-28">

    <div class="max-w-screen-xl mx-auto space-y-4">
      <p class="cardo-regular text-2xl sm:text-3xl md:text-4xl">Search results for: "materials"</p>
      <SearchBar />

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 sm:gap-8">
        {
          cardDetails.slice(0,2).map((card) => (
            <CategoryCard
              title={card.title}
              description={card.description}
              image={card.image}
            />
          ))
        }
      </div>
    </div>
  </div>
</Layout>
