---
import CallToAction from "./CallToAction.astro";
---

<div class="px-6 md:px-12 lg:px-28 py-12 md:py-20 lg:py-28 bg-[#F9F9F9]">
    <h3 class="cardo-regular text-2xl sm:text-3xl md:text-4xl lg:text-5xl pb-6 md:pb-8 lg:pb-12">Watch, Read, Listen</h3>
    
    <!-- Article Items -->
    <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center text-base sm:text-lg cardo-regular py-4 sm:py-6 md:py-8 border-t-1 gap-2 sm:gap-0">
      <div class="hover:underline sm:w-1/2 md:w-2/3">
        The Art of Balancing Form and Function in Architecture
      </div>
      <div class="text-sm sm:text-base flex flex-wrap items-center gap-1 sm:gap-2">
        <span class="text-gray-500 hover:underline">Aug 14, 2023</span>
        <span class="text-gray-500 hidden sm:inline">—</span>
        <span class="text-gray-500">by</span>
        <span class="hover:underline">Joan Smith</span>
        <span class="text-gray-500">in</span>
        <span class="hover:underline">Architecture</span>
      </div>
    </div>
  
    <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center text-base sm:text-lg cardo-regular py-4 sm:py-6 md:py-8 border-t-1 gap-2 sm:gap-0">
      <div class="hover:underline sm:w-1/2 md:w-2/3">
        Impressive Buildings
      </div>
      <div class="text-sm sm:text-base flex flex-wrap items-center gap-1 sm:gap-2">
        <span class="text-gray-500 hover:underline">Aug 14, 2023</span>
        <span class="text-gray-500 hidden sm:inline">—</span>
        <span class="text-gray-500">by</span>
        <span class="hover:underline">Joan Smith</span>
        <span class="text-gray-500">in</span>
        <span class="hover:underline">Architecture</span>
      </div>
    </div>
  
    <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center text-base sm:text-lg cardo-regular py-4 sm:py-6 md:py-8 border-t-1 gap-2 sm:gap-0">
      <div class="hover:underline sm:w-1/2 md:w-2/3">
        Exploring Innovative Materials Shaping the Future of Architecture
      </div>
      <div class="text-sm sm:text-base flex flex-wrap items-center gap-1 sm:gap-2">
        <span class="text-gray-500 hover:underline">Aug 14, 2023</span>
        <span class="text-gray-500 hidden sm:inline">—</span>
        <span class="text-gray-500">by</span>
        <span class="hover:underline">Joan Smith</span>
        <span class="text-gray-500">in</span>
        <span class="hover:underline">Architecture</span>
      </div>
    </div>
  
    <!-- Pagination -->
    <div class="flex flex-col sm:flex-row justify-between items-center text-sm sm:text-base py-6 md:py-8 gap-4 sm:gap-0">
      <div class="space-x-1 cursor-pointer">
        <span>1</span><span class="underline hover:no-underline">2</span>
      </div>
      <div>
        <span class="underline hover:no-underline cursor-pointer">Next Page</span>
        <span>&rarr;</span>
      </div>
    </div>
  
    <CallToAction/>
  </div>