---
const { title, description, image } = Astro.props;
---

<div class="w-96 space-y-3">
  <img class="w-full h-120 object-cover rounded-2xl" src={image} alt="image" />
  <h1 class="text-2xl cardo-regular">{title}</h1>
  <p class="text-base">{description}</p>
</div>
