<footer class="flex flex-col md:flex-row items-center gap-4 pt-5 px-6 pb-10 md:pb-28 md:px-28 bg-theme text-theme">
  <!-- info section -->
  <div class="flex flex-col items-start w-full md:w-2/5">
    <div class="w-full md:w-2/3 space-y-2 font-theme">
      <svg
              xmlns="http://www.w3.org/2000/svg"
              width="28"
              height="28"
              viewBox="0 0 515 515"
              class="h-7 w-7 fill-current text-theme"
            >
              <g id="Group 1">
                <rect
                  id="Rectangle 1"
                  x="237.327"
                  y="514.921"
                  width="514.269"
                  height="49.4265"
                  transform="rotate(-90.8164 237.327 514.921)"></rect>
                <rect
                  id="Rectangle 4"
                  x="0.0791626"
                  y="236.327"
                  width="514.269"
                  height="49.4265"
                  transform="rotate(-0.816392 0.0791626 236.327)"></rect>
                <rect
                  id="Rectangle 2"
                  x="93.9012"
                  y="59.0935"
                  width="514.269"
                  height="49.4265"
                  transform="rotate(45.084 93.9012 59.0935)"></rect>
                <rect
                  id="Rectangle 3"
                  x="457.906"
                  y="94.9012"
                  width="514.269"
                  height="49.4265"
                  transform="rotate(135.084 457.906 94.9012)"></rect>
              </g>
            </svg>
      <h2 class="text-lg font-semibold">Twenty Twenty-Four</h2>
      <p class="text-sm md:text-base">
        A flexible theme suitable for everyone, from casual bloggers to creative
        photographers or small businesses.
      </p>
    </div>
  </div>

  <!-- navigation section -->
  <div class="w-full md:w-3/5 flex justify-between md:pl-28 font-theme">
    <div>
      <ul class="space-y-2">
        <li class="font-bold text-base">About</li>
        <li class="font-light text-sm hover:underline"><a href="#">Team</a></li>
        <li class="font-light text-sm hover:underline"><a href="#">History</a></li>
        <li class="font-light text-sm hover:underline"><a href="#">Careers</a></li>
      </ul>
    </div>
    <div>
      <ul class="space-y-2">
        <li class="font-bold text-base">Privacy</li>
        <li class="font-light text-sm hover:underline"><a href="#">Privacy Policy</a></li>
        <li class="font-light text-sm hover:underline"><a href="#">Terms and Conditions</a></li>
        <li class="font-light text-sm hover:underline"><a href="#">Contact Us</a></li>
      </ul>
    </div>
    <div>
      <ul class="space-y-2">
        <li class="font-bold text-base">Social Media</li>
        <li class="font-light text-sm hover:underline"><a href="#">Facebook</a></li>
        <li class="font-light text-sm hover:underline"><a href="#">Instagram</a></li>
        <li class="font-light text-sm hover:underline"><a href="#">Twitter/X</a></li>
      </ul>
    </div>
  </div>
</footer>