<footer class="flex flex-col md:flex-row items-center gap-4 pt-5 px-6 pb-10 md:pb-28 md:px-28 bg-[#F9F9F9]">
  <!-- info section -->
  <div class="flex flex-col items-start w-full md:w-2/5">
    <div class="w-full md:w-2/3 space-y-2">
      <img
        class="h-7 w-7"
        src="https://twentytwentyfourdemo.wordpress.com/wp-content/uploads/2023/11/0a47c-site_logo-1.png?w=50&h=50"
        alt=""
      />
      <h2 class="text-lg font-semibold">Twenty Twenty-Four</h2>
      <p>
        A flexible theme suitable for everyone, from casual bloggers to creative
        photographers or small businesses.
      </p>
    </div>
  </div>

  <!-- navigation section -->
  <div class="w-full md:w-3/5 flex justify-between md:pl-28">
    <div>
      <ul class="space-y-2">
        <li class="font-bold text-base">About</li>
        <li class="font-light text-sm text-gray-900 hover:underline">Team</li>
        <li class="font-light text-sm text-gray-900 hover:underline">
          History
        </li>
        <li class="font-light text-sm text-gray-900 hover:underline">
          Careers
        </li>
      </ul>
    </div>
    <div>
      <ul class="space-y-2">
        <li class="font-bold text-base">Privacy</li>
        <li class="font-light text-sm text-gray-900 hover:underline">
          Privacy Policy
        </li>
        <li class="font-light text-sm text-gray-900 hover:underline">
          Terms and Conditions
        </li>
        <li class="font-light text-sm text-gray-900 hover:underline">
          Contact Us
        </li>
      </ul>
    </div>
    <div>
      <ul class="space-y-2">
        <li class="font-bold text-base">Social Media</li>
        <li class="font-light text-sm text-gray-900 hover:underline">
          Facebook
        </li>
        <li class="font-light text-sm text-gray-900 hover:underline">
          Instagram
        </li>
        <li class="font-light text-sm text-gray-900 hover:underline">
          Twitter/X
        </li>
      </ul>
    </div>
  </div>
</footer>
