---

---

<div class="bg-theme">
  <section class="text-center pt-24 pb-12 md:py-28 px-4 sm:px-6 lg:px-8 max-w-4xl mx-auto">
    <h1 class="text-3xl sm:text-4xl md:text-5xl font-theme font-light mb-4 md:mb-6 leading-snug md:leading-tight">
      A commitment to innovation<br class="hidden sm:block" />and sustainability
    </h1>
    <p class="text-base sm:text-lg mb-6 md:mb-8">
      Études is a pioneering firm that seamlessly merges creativity<br class="hidden sm:block" /> and functionality
      to redefine architectural excellence.
    </p>
    <a
      href="#"
      class="inline-block bg-button text-button font-medium text-sm px-6 py-3 rounded-lg hover:opacity-50 transition"
    >
      About us
    </a>
  </section>
  <div class="flex justify-center items-center pt-5 pb-12 md:pb-28 px-4 sm:px-6 lg:px-28">
    <img class="w-full max-w-4xl h-auto rounded-lg" src="https://i0.wp.com/2024.wordpress.net/wp-content/themes/twentytwentyfour/assets/images/building-exterior.webp" alt="Building exterior">
  </div>
</div>
