---

---

<div class="flex justify-around text-center  bg-white rounded-lg px-6 py-20 mx-auto my-10  ">
    <div class="w-1/4 border-t">
        <span class="cardo-regular-italic text-lg">Free</span>
        <h2 class="text-7xl cardo-regular font-semibold my-4">$0</h2>
        <p class="text-gray-600 py-4 border-b">Access to 5 exclusive Etudes Articles per month.</p>
        <p class="text-gray-600 py-4 border-b line-through">Weekly print edition.</p>
        <p class="text-gray-600 py-4 line-through">Exclusive access to the Études app for iOS and Android.</p>
        <button class="w-full py-2 border rounded-md hover:bg-black hover:opacity-50 hover:text-white">Subscribe</button>
    </div>
    <div class="w-1/4 border-t-2 transform scale-100">
        <span class="cardo-regular-italic text-lg">Connoisseur</span>
        <h2 class="text-7xl cardo-regular font-semibold my-4">$12</h2>
        <p class="text-gray-600 py-4 border-b">Access to 20 exclusive Études Articles per month.</p>
        <p class="text-gray-600 py-4 border-b">Weekly print edition.</p>
        <p class="text-gray-600 py-4">Access to 5 exclusive Etudes Articles per month.</p>
        <button class="w-full py-2 border rounded-md text-white bg-black hover:opacity-50">Subscribe</button>
    </div>
    <div class="w-1/4 border-t">
        <span class="cardo-regular-italic text-lg">Expert</span>
        <h2 class="text-7xl cardo-regular font-semibold my-4">$28</h2>
        <p class="text-gray-600 py-4 border-b">Access to 5 exclusive Etudes Articles per month.</p>
        <p class="text-gray-600 py-4 border-b">Weekly print edition.</p>
        <p class="text-gray-600 py-4">Access to 5 exclusive Etudes Articles per month.</p>
        <button class="w-full py-2 border rounded-md hover:bg-black hover:opacity-50 hover:text-white">Subscribe</button>
    </div>
</div>