---

---
<div class="flex flex-col md:flex-row md:justify-around gap-4 text-center px-6 py-20 mx-auto my-10">
    <div class="w-full md:w-1/4 space-y-1">
      <img
        class="rounded-2xl mb-4 w-full"
        src="https://twentytwentyfourdemo.wordpress.com/wp-content/uploads/2023/11/22567-team_1.jpg"
        alt=""
      />
      <h3 class="font-bold">Francesca Piovani</h3>
      <p class="text-xs">Founder, CEO & Architect</p>
    </div>
    <div class="w-full md:w-1/4 space-y-1">
      <img
        class="rounded-2xl mb-4 w-full"
        src="https://twentytwentyfourdemo.wordpress.com/wp-content/uploads/2023/11/51992-team_4-1.jpg"
        alt=""
      />
      <h3 class="font-bold">Rhye Moore</h3>
      <p class="text-xs">Engineering Manager</p>
    </div>
    <div class="w-full md:w-1/4 space-y-1">
      <img
        class="rounded-2xl mb-4 w-full"
        src="https://twentytwentyfourdemo.wordpress.com/wp-content/uploads/2023/11/3e21a-team_3.jpg"
        alt=""
      />
      <h3 class="font-bold">Helga Steiner</h3>
      <p class="text-xs">Architect</p>
    </div>
    <div class="w-full md:w-1/4 space-y-1">
      <img
        class="rounded-2xl mb-4 w-full"
        src="https://twentytwentyfourdemo.wordpress.com/wp-content/uploads/2023/11/fd600-team_2.jpg"
        alt=""
      />
      <h3 class="font-bold">Ivan Lawrence</h3>
      <p class="text-xs">Project Manager</p>
    </div>
  </div>
  