---
const { title, description } = Astro.props;
---

<section class="p-2 md:p-4">
  <span class="flex justify-start mb-3 md:mb-4">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="28"
      height="28"
      viewBox="0 0 515 515"
      class="h-5 w-5 fill-current text-theme"
    >
      <g id="Group 1">
        <rect
          id="Rectangle 1"
          x="237.327"
          y="514.921"
          width="514.269"
          height="49.4265"
          transform="rotate(-90.8164 237.327 514.921)"></rect>
        <rect
          id="Rectangle 4"
          x="0.0791626"
          y="236.327"
          width="514.269"
          height="49.4265"
          transform="rotate(-0.816392 0.0791626 236.327)"></rect>
        <rect
          id="Rectangle 2"
          x="93.9012"
          y="59.0935"
          width="514.269"
          height="49.4265"
          transform="rotate(45.084 93.9012 59.0935)"></rect>
        <rect
          id="Rectangle 3"
          x="457.906"
          y="94.9012"
          width="514.269"
          height="49.4265"
          transform="rotate(135.084 457.906 94.9012)"></rect>
      </g>
    </svg>
  </span>

  <h1 class="text-xl font-semibold mb-1 md:mb-3">
    {title}
  </h1>
  <p class="text-md font-medium mb-1 md:mb-8">
    {description}
  </p>
</section>
